@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about{
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
    margin-top: -55vh;
    width: 80vw;
    padding: 2rem;
    border-radius: 15px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include tablet{
        flex-direction: row;
        margin-top: -65vh;
        padding: 3rem;
    }
    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__title{
        margin-bottom: 1rem;
    }

    &__header{
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: linear-gradient(125deg, rgba(237,70,90,1) 0%, rgba(85,34,204,0.6643032212885154) 100%),
            url(../../assets/images/winding-road.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        width: 100%;
        height: 75vh;
    }

    &__text{
        margin-top: 1rem;
        margin-bottom: 1rem;

        &--alt{
            color: rgb(255, 166, 0)
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
        color: $white;
        background-color: rgb(63, 46, 81);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        @include tablet{
            width: 80%;
        }
    }

    &__profile-image{
        min-width: 200px;
        width: 80%;
        border-radius: 15px;
        margin-bottom: 1rem;
    }

    &__social-containter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
 
    }

    &__tech-icon{
        width: 64px;
        cursor: pointer;
        margin: 1rem;
        transition: 0.5s;

        &:hover{
            @extend .about__tech-icon;
            filter: invert(15%) sepia(93%) saturate(4257%) hue-rotate(323deg) brightness(106%) contrast(92%); 
        }
    }

    &__social-icon{
        width: 42px;
        filter: invert(1);
        cursor: pointer;
        margin-left: -6px;
        margin-right: 1.2rem;
        transition: 0.5s;

        &:hover{
            @extend .about__social-icon;
            filter: invert(15%) sepia(93%) saturate(4257%) hue-rotate(323deg) brightness(106%) contrast(92%);
        }
    }
}

