.cars-list__header{
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: linear-gradient(125deg, rgba(237,70,90,1) 0%, rgba(85,34,204,0.6643032212885154) 100%),
        url(../../assets/images/winding-road.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
}