// Main Color Palatte
$button-background: #0095FF;
$button-background-hover: #0065AD;
$button-text-cancel: #0095FF;
$button-background-cancel-hover: #E1E1E1;
$button-text: #FFFFFF;

$loading-primary: #0095FF;
$loading-secondary: #E1E1E1;

$video-background: #000000;
$primary-text: #000000;
$secondary-text: #FFFFFF;

$avatar-background: #E1E1E1;
$input-border: #E1E1E1;
$input-border-invalid: #D22D2D;
$input-background: #FAFAFA;
$label-text: #AFAFAF;
$divider: #E1E1E1;