@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.home{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header-hero{
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: linear-gradient(125deg, rgba(237,70,90,1) 0%, rgba(85,34,204,0.6643032212885154) 100%),
        url(../../assets/images/winding-road.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
}

.vehicle-type{
    margin-top: 3rem;
    padding: 1rem 2rem;

    @include tablet{
        width: 80%;
        padding: 0;
    }

    &__heading{
        font-size: 2rem;
    }

    &__list{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}